body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure, button {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0; }

/* change the box – model makes the final rendered box the declared width, and any border and padding cut inside the box [http://css-tricks.com/box-sizing/] */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Group - clears floated elements [http://css-tricks.com/snippets/css/clear-fix/]
   ========================================================================== */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4em;
    font-size: 12pt;
    background: none;
    color: #444; }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px 0;
    color: #000; }

  h1 {
    font-size: 16pt;
    background: none;
    margin-bottom: 20px; }

  h2 {
    font-size: 14pt; }

  h3 {
    font-size: 12pt; }

  h4, h5, h6 {
    font-size: 12pt; }

  hr {
    background-color: #ccc; }

  /* Images */
  img {
    margin: 1em 1.5em 1.5em 0; }

  a img {
    border: none; }

  /* Links */
  a:link,
  a:visited {
    background: transparent;
    text-decoration: underline;
    color: #333; }

  /* Table */
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left; }

  tr {
    page-break-inside: avoid; }

  /* Custom Print Styles
     ========================================================================== */
  #id {
    display: none; }

  /* Masthead */
  #print-masthead {
    width: 100% !important;
    display: block;
    text-align: left;
    height: 145px;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #c4c4c4; }

  #print-masthead p {
    float: right;
    padding: 0 10px 0 0;
    margin: 0 0px 0 0;
    text-align: right;
    width: 8cm;
    font-size: 8pt; }

  #print-masthead img {
    margin: 0px 0px 0px 0px; }

  #content-wrapper {
    width: 100% !important;
    border: none;
    background: #FFF; }

  #content {
    width: 100% !important;
    margin: 0;
    padding: 0; } }
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5em; }

@media all and (min-width: 75em) {
  body {
    font-size: 110%; } }
@media all and (min-width: 87.5em) {
  body {
    font-size: 120%; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1 {
  font-size: 1.625em; }

h2 {
  font-size: 1.4375em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.0625em; }

h6 {
  font-size: 1.0625em; }

p,
address,
caption {
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1.5625em;
  margin: 0 0 1.5625em 0; }

hr {
  margin: 1.25em 0 2.5em 0;
  border: none;
  clear: both;
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px; }

/* Pre: marking up blocks of code */
pre {
  	/*background:#fff;
  	border:1px dotted #c3c3c3;
  	border-radius:4px;
  	font-size:1.0625em;
  	margin-bottom:1.5625em;
  	overflow-y:hidden;
  	padding:1.5625em 1em;
  	line-height:0;
  }
  
  pre ol {
  	margin:0 0 0 1.375em;
  	list-style:decimal;
  	padding:0!important;
  }
  
  pre li {
  	line-height: 0.8125em;	*/ }

blockquote {
  font-style: italic;
  line-height: 1.8em;
  margin: 0 0 1.5625em 0;
  padding: 0; }

ol {
  list-style-type: decimal;
  margin: 10px 0 25px 22px; }

ul {
  list-style-type: disc;
  margin: 10px 0 25px 18px; }

dl {
  margin: 10px 0 25px 0; }

figure {
  margin-bottom: 25px;
  font-size: 0.875em; }

figcaption {
  padding: 20px 0 0 0;
  font-style: italic; }

li,
dt,
dd,
table th,
table td {
  color: #37351b;
  font-size: 0.875em;
  /* NEEDS ATTENTION */
  line-height: 1.6em;
  /* NEEDS ATTENTION */ }

li li {
  font-size: 1em; }

/* 
 * Reduce sizing of fonts if tags appear inside table cells 
 * Add to this list with further tags 
 */
td p,
td li,
td h1,
td h2,
li p {
  font-size: 1em !important; }

/* Text level semantics
 * INSERT LINK TO WC3 SPECS
 * MAY NEED TO RE_ORDER THIS LIST
 */
a,
a:visited {
  color: #c80303;
  text-decoration: none; }

a:hover {
  color: red; }

strong {
  font-style: italic;
  font-weight: bold; }

small {
  color: blue; }

code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 0.25em; }

b {
  font-weight: bold; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

img {
  margin: 0;
  max-width: 100%; }

iframe {
  background: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 0 1.5625em 0;
  width: 100%; }

video {
  margin: 0 0 1.5625em 0; }

audio {
  margin: 0 0 1.5625em 0; }

canvas {
  background: #efefef;
  border: none;
  border-radius: 4px;
  margin: 0 0 1.5625em 0;
  width: 100%;
  height: 200px; }

table {
  border: 1px solid #d7d7d7;
  margin: 0 0 2em 0;
  width: 100%; }

table thead th {
  background: #dadada;
  font-weight: bold; }

table th {
  color: #818285; }

table th,
table td {
  border-bottom: 1px solid #d7d7d7;
  padding: 0.43752em; }

table tbody tr.oddrow th,
table tbody tr.oddrow td {
  background: #f8fdff; }

table tfoot th {
  background: #dadada; }

fieldset {
  background: #e1e0e0;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 10px; }

fieldset p {
  margin: 0; }

legend {
  background: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-weight: bold;
  padding: 0.3125em; }

label {
  color: #000;
  margin: 0; }

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="file"],
textarea {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  color: #000;
  font-size: 0.875em;
  margin: 0.3125em 0 0.3125em 0;
  padding: 0.3125em;
  vertical-align: middle;
  width: 100%; }

textarea {
  height: 120px; }

input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="color"] {
  padding: 0;
  height: 30px;
  width: 20%; }

select {
  font-size: 1.125em;
  width: 100%; }

input[type="range"] {
  font-size: 1.125em;
  width: 100%; }

input[type="reset"],
input[type="button"],
input[type="submit"],
button[type="reset"],
button[type="button"],
button[type="submit"],
.btn {
  background: #000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  font-size: 0.9em;
  margin: 0 0 10px 0;
  width: auto;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  letter-spacing: 0.1em;
  text-align: center;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button[type="reset"]:hover,
button[type="button"]:hover,
button[type="submit"]:hover,
.btn:hover {
  background: red;
  color: #FFF; }

.grid {
  padding: 0.25em;
  overflow: hidden;
  margin: 0 0 40px 0;
  list-style-type: none; }

.grid li {
  float: left;
  width: 100%;
  padding: 0.25em;
  display: list-item; }

.grid img {
  display: block;
  border: 1px solid #fff; }

.grid img:hover {
  border: 1px solid #ababab; }

.grid li:nth-child(odd) {
  clear: left; }

@media screen and (min-width: 640px) {
  .grid li {
    width: 33.3333333333333333%; }

  .grid li:nth-child(3n+1) {
    clear: left; }

  .grid li:nth-child(odd) {
    clear: none; } }
@media screen and (min-width: 880px) {
  .grid li {
    width: 25%; }

  .grid li:nth-child(4n+1) {
    clear: left; }

  .grid li:nth-child(3n+1) {
    clear: none; } }
@media screen and (min-width: 1152px) {
  .grid li {
    width: 20%; }

  .grid li:nth-child(5n+1) {
    clear: left; }

  .grid li:nth-child(4n+1) {
    clear: none; } }
@media screen and (min-width: 1440px) {
  .grid li {
    width: 16.666666666%; }

  .grid li:nth-child(6n+1) {
    clear: left; }

  .grid li:nth-child(5n+1) {
    clear: none; } }
.listing {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none; }

.listing li {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #dbdbdb; }

.inner {
  display: table-row;
  overflow: hidden; }

.listing li .img-holder {
  display: table-cell;
  vertical-align: top;
  /* works due to display table */
  width: 40%;
  padding-right: 1em; }

.listing li .img-holder img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 10px; }

.listing li .details {
  display: table-cell;
  vertical-align: top;
  width: 60%; }

@media all and (min-width: 640px) {
  .listing {
    margin: 0 auto;
    overflow: hidden; }

  .listing li {
    padding: 0 15px 15px 0;
    display: block;
    width: 50%;
    float: left;
    border: none; }

  .listing li .img-holder, .listing li .details, .inner {
    display: block;
    width: auto;
    padding: 0; }

  .listing li .details {
    padding: 10px; } }
@media all and (min-width: 900px) {
  .listing li {
    width: 33.33333333%; }

  /* Every 4th element clear left */
  .listing li:nth-child(3n+1) {
    clear: left; } }
header {
  border-bottom: 2px solid #efefef; }

header img {
  float: left;
  margin: 0 20px 20px 0; }

header h1 {
  margin-bottom: 30px; }

.body {
  padding: 1.125em 10%; }

.body-full {
  border-bottom: 2px solid #efefef; }

.body-alternate {
  background: #f5f5f2; }

.body h1:first-child {
  font-weight: 800;
  text-transform: uppercase; }

a.menu-link {
  float: right;
  display: block;
  padding: 35px 10px;
  line-height: 0;
  background: #e6e6e6;
  font-size: 2em; }

nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #e6e6e6; }

/* Hide the menu on inital viewport */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0; }

nav[role=navigation].active {
  max-height: 15em; }

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #fff; }

nav[role=navigation] li a:hover {
  background: #d4d4d4; }

@media screen and (min-width: 48.25em) {
  a.menu-link {
    display: none; }

  .js nav[role=navigation] {
    max-height: none; }

  nav[role=navigation] ul {
    margin: 0 0 0 0;
    border: 0; }

  nav[role=navigation] li {
    float: left;
    margin: 0 0.1em 0 0; }

  nav[role=navigation] li a {
    border: 0;
    background: #d9d9d9; } }
